@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: unset;
}
